version: '3.7'

networks:
  app-tier:
    driver: bridge

services:

  api:
    build:
      context: api
    hostname: api
    ports:
      - 8080:8080
    restart: always
    env_file:
      - .env
    depends_on:
      - mongo

  mongo:
    image: mongo
    restart: always
    ports:
    - 27017:27017
    env_file:
      - .env


  mongo-express:
    image: mongo-express
    restart: always
    ports:
    - 8081:8081
    env_file:
      - .env
    depends_on:
      - mongo
